.banner{

    text-align: center;
    background:var(--azul-degrade);
    padding: 2.5em 0.5em;

}

.banner_pesquisa{ /*tag input*/

    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    
}

.banner_titulo{

font-size: 18px;
color: var(--branco);
font-weight: 400;

}

.banner_texto{

    font-family: var(--fonte-principal);
    color: var(--branco);
    
    }

.banner_pesquisa::placeholder{

    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url("../assets/Pesquisa.png");
    background-repeat: no-repeat;
    background-position: 1em;
    
}

